body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%
  
    }

.deleteButton {
    margin-left: 5px;
}

.form-row {
    margin-top: 3px;
}

.modal-header {
    background: green;
}

.jumbotron {
    background: green;
}

li {
    list-style-type: none;
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
#branches {
    position: relative;
    margin-top: 20px;
}
}